
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .uno{
        display: flex;
        flex-direction: row;
            /* flex-wrap: wrap; */
         justify-content: flex-end;
    }

    .sidebar{
        position: fixed;
        z-index: 1;

        /* background: rgb(7, 151, 208); */
        /* background-image: url("images/sidebar-2.jpg"); */
        background-size: cover;
        background-position: 50%;
        min-width: 260px;
        max-width: 260px;
        height: 700px;
        /* min-height: 500px */
        top: 0;
        bottom: 0;
        left: 0;


    }

    .main-panel{
        background-color:  #eee;
        width: calc(100% - 260px);

        overflow: auto;
        position: relative;

        float: right;
    }

    .logo{
        padding-left: 25px;
        padding-top: 30px;
        display: flex;
        flex-direction: row;
    }

    /* .logo-mini{
        float: left;
        width: 40px;
        text-align: center;
        margin-left: 25px;
        margin-right: 11px;
        position: relative;
        top: -5px;
    } */

    /* .simple-text{
        text-transform: uppercase;
        padding-top: 5px ;
        display: block;

        font-weight: 400;
        line-height: 30px;
        text-decoration: none;
    } */

    .logo-img{
        /* padding-top: 7px; */
        padding-left: 9px;
        width: 55px;
        height: 42px;
        background: #fff;
        border-radius: 17px;
        text-align: center;
        /* overflow: hidden; */
        box-shadow: 0 10px 30px -12px rgba(0,0,0,.42),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .simple{
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
        padding-left: 10px;
        align-self: center;
        color: white;
    }

    .sidebar hr {
        width: 90%;
        background: rgb(125, 124, 128);
        margin: auto;
        margin-top: 15px;
    }

    .sidebar .menu-sidebar .lista-boton {
        text-decoration: none;
        width: 90%;
        height: 50px;
        /* background: rgb(40, 85, 83); */
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }
    .sidebar .menu-sidebar .lista-boton:hover{
        background: rgb(40, 85, 83);
    }
    .sidebar .menu-sidebar li{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .sidebar .menu-sidebar li .lista-boton div{
        width: 80%;
        font-size: 1.05em;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        color: white;
    }

    .sidebar .menu-sidebar li .lista-boton div p{
        margin:  auto  15px;
        margin-top: 11px;
        height: auto;
    }

    @media (max-width: 900px) {
        .sidebar{
        display: none;
      }

      .main-panel{
          background-color:  #eee;
          width: 100%;

          /* overflow: auto;
          position: relative;

          float: right; */
      }
    }
